<div class="card mx-auto w-50 mb-4">
  <div class="card-body">
    <h5 class="mb-4 text-center"><%= t('users.title') %></h5>

    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= t('users.email') %></th>
            <th><%= t('users.nickname') %></th>
            <th><%= t('users.prefecture') %></th>
            <th><%= t('users.post_ids') %></th>
            <th><%= t('users.response_ids') %></th>
            <th><%= t('users.admin_status') %></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.email %></td>
              <td><%= user.nickname %></td>
              <td><%= user.prefecture %></td>
              <td><%= user.posts.map(&:id).join(", ") %></td>
              <td><%= user.responses.map(&:id).join(", ") %></td>
              <td>
                <% if user.admin? %>
                  <%= t('users.admin') %>
                <% else %>
                  <%= t('users.not_admin') %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
