<div class="container">
  <div class="col-md-12">
    <h6 class="card-title" style="border-bottom: 1px solid rgba(255, 145, 145, 0.5);"><span>質問<%= sprintf("%04d", @post.id) %> : </span><%= @post.title %></h6>
    <div class="row">
      <div class="col-md-12">
        <div class="card mb-3">
          <div class="card-header small d-flex justify-content-between" style="background-color: #FFCCCC;">
            <span>投稿者名: <%= @post.user.nickname if @post&.user %></span>
            <span>投稿日時: <%= l(@post.created_at, format: :long) if @post.created_at.present? %></span>
          </div>
          <div class="card-body">
            <p class="card-text"><%= @post.body %></p>
          </div>
          <div class="card-footer text-muted small d-flex justify-content-between">
            <div>
              <% if user_signed_in? %>
                <span id="like-button-<%= @post.id %>">
                <% post_like = current_user.post_likes.find_by(post: @post) %>
                <% if post_like.present? %>
                  <%= link_to 'いいねをキャンセル', post_post_like_path(post_id: @post.id, id: post_like.id), method: :delete, remote: true, class: 'btn custom-like-btn small-font' %>
                <% else %>
                  <%= link_to '❤️ いいね', post_post_likes_path(post_id: @post.id), method: :post, remote: true, class: 'btn custom-like-btn small-font' %>
                <% end %>
              </span>
              <span id="like-count-<%= @post.id %>" class="ml-0"><%= @post.post_likes.count %></span>
              <% end %>
            </div>
        
            <button class="btn custom-notify-btn small-font">管理者に通知</button>

            <% if current_user&.admin? %>
              <%= link_to '投稿を削除する', post_path(@post), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger small-font" %>
            <% end %>

            <%= link_to '回答する', new_post_response_path(@post), class: "btn custom-answer-btn small-font" %>
          </div>
        </div>
      </div>
    </div>
    <% @post.responses.each_with_index do |response, index| %>
      <div class="row">
        <div class="col-md-12">
          <div class="card mb-3">
            <div class="card-header small d-flex justify-content-between">
              <span>回答<%= sprintf("%04d", index + 1) %></span>
              <span>投稿者名: <%= response.user.nickname if response&.user %></span>
              <span>投稿日時: <%= l(response.created_at, format: :long) if response.created_at.present? %></span>
            </div>
            <div class="card-body">
              <p class="card-text"><%= response.body %></p>
            </div>
            <div class="card-footer text-muted small d-flex justify-content-between">
              <div>
                <% if user_signed_in? %>
                  <span id="like-button-response-<%= response.id %>">
                    <% response_like = current_user.response_likes.find_by(response: response) %>
                    <% if response_like.present? %>
                      <%= link_to 'いいねをキャンセル', response_response_like_path(response_id: response.id, id: response_like.id), method: :delete, remote: true, class: 'btn custom-like-btn small-font' %>
                    <% else %>
                      <%= link_to '❤️ いいね', response_response_likes_path(response_id: response.id), method: :post, remote: true, class: 'btn custom-like-btn small-font' %>
                    <% end %>
                  </span>
                  <span id="like-count-response-<%= response.id %>" class="ml-0"><%= response.response_likes.count %></span>
                <% end %>
              </div>
          
              <button class="btn custom-notify-btn small-font">管理者に通知</button>

              <% if current_user&.admin? %>
                <%= link_to '投稿を削除する', post_response_path(@post, response), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger small-font" %>
              <% end %>
            
              <%= link_to '回答する', new_post_response_path(@post), class: "btn custom-answer-btn small-font" %>
            </div>              
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="d-flex justify-content-center" style="padding-bottom: 15px;">
    <%= link_to '戻る', posts_path, class: 'btn', style: 'background-color: #d3d3d3; font-size: 0.8em;'  %>
  </div>
</div>
