<div class="card mx-auto w-50 mb-4">
  <div class="card-body">
    <h5 class="mb-4 text-center">新規ユーザー登録</h5>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      
      <div class="row mb-3">
        <div class="col">
          <%= f.label :nickname, class: 'form-label' %><br />
          <%= f.text_field :nickname, class: 'form-control', placeholder: "ニックネームを入力ください" %>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <%= f.label :email, class: 'form-label' %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: "exam@example.com" %>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <%= f.label :living_area, class: 'form-label' %><br />
          <%= f.select :prefecture, User.prefectures.keys.map { |k| [I18n.t("activerecord.attributes.user.prefectures.#{k}"), k] }, { prompt: '居住エリアを選んでください' }, { class: "form-control custom-input-width" } %>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <%= f.label :password, class: 'form-label' %>
          <% if @minimum_password_length %>
          <%= I18n.t("devise.passwords.minimum_password_length", count: @minimum_password_length) %>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', placeholder: "パスワードを入力ください" %>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <%= f.label :password_confirmation, class: 'form-label' %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', placeholder: "確認のため、もう一度パスワードを入力ください" %>
        </div>
      </div>

      <div class="actions mt-3 d-flex justify-content-center">
        <%= f.submit "登録する", class: 'btn btn-custom', style: 'background-color: #ffcccc;' %>
      </div>
    <% end %>
  </div>
</div>
